@font-face {
  font-family: "roboto-black";
  src: url("../../assets/fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "roboto-medium";
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../../assets/fonts/Roboto/Roboto-light.ttf");
}

@font-face {
  font-family: "roboto-thin";
  src: url("../../assets/fonts/Roboto/Roboto-Thin.ttf");
}
