.apr-percent {
  font-family: "roboto-medium";
  justify-content: center;
  background: #77d8c2;
  letter-spacing: 0em;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  line-height: 14px;
  color: #ffffff;
  padding: 3px 5px;
  font-weight: 500;
  text-align: left;
  font-size: 12px;
  display: flex;
}
