<div class="dashboard">
  <div class="dashboard_controls">
    <div class="dashboard_controls-navigation">
      <ng-container *ngFor="let nav of navList; let i = index">
        <app-nav-button
          [props]="nav"
          (click)="changeControlsTab(i)"
        ></app-nav-button>
      </ng-container>
    </div>
    <div class="dashboard_controls-inputs">
      <app-textfield
        [props]="{
          label: 'Amount?',
          controls: true,
          width: '547px',
          editable: true
        }"
        [value]="formatedAmount"
        [invalided]="isAmountValidated"
        (changeAmount)="changeAmount($event)"
        (changeInput)="manualAmountEntry($event)"
      ></app-textfield>
      <app-textfield
        [props]="{
          label: 'Currency?',
          dropdown: true,
          width: '547px',
        }"
        [percent]="currency?.apr"
        [value]="currency?.name"
      ></app-textfield>
      <app-textfield
        [props]="{
          label: 'Period?',
          width: '547px',
          dropdown: true,
        }"
        [value]="period"
      ></app-textfield>
    </div>
    <div class="dashboard_controls-info">
      <app-info-text-field
        [props]="{ text: 'Lorem ipsum', tooltipText: '' }"
      ></app-info-text-field>
      <div class="toggle-container">
        <app-toggle></app-toggle>
        <app-info-text-field
          [props]="{
            text: 'Lorem ipsum dolor sit ',
            tooltipText:
              'Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla corrupti suscipit quam, rem'
          }"
        ></app-info-text-field>
      </div>
    </div>
  </div>
  <div class="dashboard_info">
    <div class="dashboard_info-wrapper">
      <div class="dashboard_info-profit">
        <div class="dashboard_info-label">Profit</div>
        <div class="dashboard_info-text">${{ profit?.profit }}</div>
      </div>
      <div class="dashboard_info-percent">
        <div class="dashboard_info-label">Percent</div>
        <div class="dashboard_info-text">{{ profit?.inPercent }}</div>
        <div class="dashboard_info-percent-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit
        </div>
      </div>
      <div class="dashboard_info-button">
        <img src="assets/images/stars.svg" alt="stars-icon" />
        <div class="btn-primary">LOREM IPSUM DOLOR SIT</div>
      </div>
      <div class="dashboard_info-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque
        animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla
        corrupti suscipit quam, rem veniam, reiciendis, temporibus magni quis
        velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
        cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla
        corrupti suscipit quam, rem veniam, reiciendis, temporibus magni quis
        velit! Lorem ipsum dolor sit amet consectetur adipisicing
      </div>
    </div>
  </div>
</div>
