@import "src/app/styles/screen-sizes.scss";

.dashboard {
  box-shadow: 0px 0px 40px 0px #56c6ad21;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  margin: 30px 0;
  display: flex;

  &_controls,
  &_info {
    min-height: 524px;
  }

  &_controls {
    border-radius: 10px 0 0 10px;
    background: #ffffff;
    min-width: 686px;

    &-navigation {
      padding: 40px 48px 43px 48px;
      height: 21px;
      display: flex;
      gap: 31px;
    }

    &-inputs,
    &-info {
      padding: 0 48px;
    }

    &-inputs::ng-deep {
      .textfield {
        margin-bottom: 15px;
      }
    }

    &-info {
      align-items: center;
      margin-top: 36px;
      display: flex;
      gap: 35px;

      .toggle-container {
        align-items: center;
        display: flex;
        gap: 19px;
      }
    }
  }

  &_info {
    border-radius: 0 10px 10px 0;
    background: #56c6ad;
    min-width: 595px;
    display: flex;
    &-wrapper {
      width: 100%;
      padding: 15px 50px;
    }

    &-label {
      font-family: "roboto-light";
      letter-spacing: 0em;
      line-height: 18px;
      font-weight: 400;
      text-align: left;
      color: #ffffff;
      font-size: 16px;
      padding: 0 3px;
    }

    &-text {
      font-family: "roboto-medium";
      letter-spacing: 0em;
      line-height: 64px;
      font-weight: 700;
      color: #ffffff;
      text-align: left;
      font-size: 55px;
      padding-top: 5px;
      padding-left: 3px;
    }

    &-profit {
      padding-top: 24px;
    }

    &-percent {
      padding-bottom: 53px;
      padding-top: 38px;

      &-description {
        font-family: "roboto-light";
        font-size: 12px;
        font-weight: 400;
        line-height: 7px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }
    }

    &-button {
      align-items: center;
      display: flex;
      width: 100%;
      gap: 40px;
    }

    &-description {
      font-family: "roboto-light";
      text-align: justify;
      letter-spacing: 0em;
      inline-size: 495px;
      padding-top: 30px;
      line-height: 18px;
      font-weight: 300;
      font-size: 12px;
      color: #ffff;
      margin: auto;
    }
  }

  @media #{$md-screen} {
    flex-direction: column;

    &_controls,
    &_info {
      min-width: 658px;
    }
    &_controls {
      border-radius: 10px 10px 0 0;
    }
    &_info {
      border-radius: 0 0 10px 10px;
    }
  }
}
