.toggle {
  transition: all 0.3s linear;
  justify-content: flex-end;
  background: #e0f3ef;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
  padding: 0 3px;
  display: flex;
  height: 32px;
  width: 54px;

  &_circle {
    box-shadow: 0px 2px 4px 0px #56c6ad66;
    transition: margin 0.3s linear;
    background: #56c6ad;
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }

  &.disabled {
    filter: grayscale(0.7);
    > div {
      margin-right: 30px;
    }
  }
}
