.info-text-field {
  position: relative;
  display: flex;
  gap: 12px;

  span {
    font-family: "roboto-light";
    letter-spacing: 0em;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
  }

  .info-container {
    align-items: center;
    display: flex;

    .tooltip {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
      background: rgba(37, 47, 44, 0.9411764706);
      font-family: "roboto-light";
      letter-spacing: 0em;
      inline-size: 320px;
      border-radius: 8px;
      position: absolute;
      padding: 10px 15px;
      line-height: 18px;
      text-align: left;
      font-weight: 400;
      color: #ffffff;
      font-size: 12px;
      display: none;
      left: -5px;
      top: -81px;
      right: 0;

      &::after {
        border-color: rgba(37, 47, 44, 0.9411764706) transparent transparent
          transparent;
        border-style: solid;
        position: absolute;
        margin-left: -5px;
        border-width: 5px;
        content: "";
        top: 100%;
        left: 50%;
      }
    }

    img {
      cursor: pointer;

      &.disabled {
        filter: grayscale(1);
        cursor: default;
      }
    }
  }

  .info-container :hover + .tooltip {
    display: block;
  }
}
