<div class="info-text-field">
  <span>{{ props?.text }}</span>
  <div class="info-container">
    <img
      [ngClass]="{ disabled: props?.tooltipText?.length === 0 }"
      src="assets/images/info-icon.svg"
      alt="info-icon"
    />
    <div class="tooltip" *ngIf="props?.tooltipText?.length !== 0">
      {{ props?.tooltipText }}
    </div>
  </div>
</div>
