.nav-button {
  font-family: "roboto-medium";
  letter-spacing: 0em;
  padding-bottom: 1px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  font-size: 14px;

  &.active {
    border-bottom: 1px solid #56c6ad;
  }
}
