.currency-picker {
  &-scroll-list {
    padding: 26px 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 395px;
  }
  &_search {
    border: 1px solid #e6e9ed;
    border-radius: 6px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 488px;
    height: 38px;

    input {
      font-family: "roboto-medium";
      letter-spacing: 0em;
      position: relative;
      line-height: 20px;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      outline: none;
      border: none;
      width: 100%;
    }

    .search-icon {
      background: center center no-repeat url(/assets/images/search-icon.svg);
      background-size: contain;
      cursor: pointer;
      width: 15px;
      height: 15px;
      margin-left: 15px;
      margin-right: 7.4px;
    }
  }
  &_title {
    span {
      font-family: "roboto-medium";
      letter-spacing: 0em;
      line-height: 18px;
      margin-left: 14.1px;
      text-align: left;
      font-weight: 400;
      color: #838c8a;
      font-size: 14px;
    }

    .devider {
      background: #e6e9ed;
      width: 490px;
      height: 1px;
      margin-top: 14px;
      margin-bottom: 7px;
    }
  }
  &_list {
    display: flex;
    flex-direction: column;
    &-item {
      font-family: "roboto-light";
      padding: 10px 0 9px 15px;
      letter-spacing: 0em;
      line-height: 20px;
      font-weight: 400;
      text-align: left;
      font-size: 16px;
      display: flex;
      cursor: pointer;
      gap: 26px;
      margin-top: 8px;

      &.picked {
        font-family: "roboto-medium";
      }
    }

    &-item:hover {
      border-radius: 6px;
      background: #f6f7fb;
    }
  }
}
