<div class="currency-picker">
  <div class="currency-picker-scroll-list">
    <div class="currency-picker_search">
      <div class="search-icon"></div>
      <input
        placeholder="Lorem"
        #search
        (keyup)="searchCurrency(search.value)"
      />
    </div>
    <div class="currency-picker_title">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
      <div class="devider"></div>
    </div>
    <div class="currency-picker_list">
      <div
        *ngFor="let currency of currencyList"
        [ngClass]="{ picked: currency.name === currentCurency?.name }"
        class="currency-picker_list-item"
        (click)="changeCurrency(currency)"
      >
        {{ currency.name }}
        <app-apr-percent [percent]="currency.apr"></app-apr-percent>
      </div>
    </div>
  </div>
</div>
