.textfield {
  &_label {
    font-family: "roboto-medium";
    letter-spacing: 0em;
    line-height: 18px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    cursor: default;
    .invalided-text {
      color: #f41e1e;
      text-align: right;
      padding-left: 10px;
      font-family: "roboto-light";
      font-weight: bold;
      font-size: 14px;
    }
  }

  &_container {
    position: relative;
    cursor: pointer;
    display: flex;

    &-arrow {
      background: center center no-repeat
        url(../../../assets/images/drop-down-arrow.svg);
      background-size: cover;
      position: absolute;
      cursor: pointer;
      margin: auto;
      right: 21px;
      width: 12px;
      height: 7px;
      bottom: 0;
      top: 0;
    }

    &-controls {
      align-self: center;
      display: flex;
      height: 18px;
      gap: 5px;

      img {
        cursor: pointer;
        width: 18px;
      }
    }
    &_dropdown {
      position: absolute;
      z-index: 2;
      top: 68px;
    }
  }
}
