<div class="textfield" (clickOutside)="showDropdown = false">
  <div class="textfield_label">
    {{ props?.label }}
    <span class="invalided-text">{{ invalided }}</span>
  </div>
  <div class="textfield_container" [ngStyle]="{ width: props?.width }">
    <div
      class="textfield-primary"
      [ngClass]="{ invalided: invalided }"
      (click)="showDropdown = !showDropdown"
    >
      <span class="text" *ngIf="props?.label !== 'Amount?'; else inputBlock">{{
        value
      }}</span>
      <ng-template #inputBlock>
        <span class="symbol">$</span>
        <input
          [disabled]="props?.label !== 'Amount?'"
          [value]="value"
          (keyup)="changeInput.emit(input.value)"
          formatAndValidate
          #input
        />
      </ng-template>

      <ng-container *ngIf="percent">
        <app-apr-percent [percent]="percent"></app-apr-percent>
      </ng-container>
      <div *ngIf="props?.dropdown" class="textfield_container-arrow"></div>
      <div *ngIf="props?.controls" class="textfield_container-controls">
        <img
          src="/assets/images/input-controls-minus.svg"
          (click)="changeAmount.emit(false)"
          alt="minus"
        />
        <img
          src="/assets/images/input-controls-plus.svg"
          (click)="changeAmount.emit(true)"
          alt="plus"
        />
      </div>
    </div>
    <div class="textfield_container_dropdown">
      <app-period-picker
        *ngIf="props?.label === 'Period?' && value && showDropdown"
        [currentPeriod]="value"
        (close)="showDropdown = false"
      ></app-period-picker>
      <app-currency-picker
        *ngIf="props?.label === 'Currency?' && value && percent && showDropdown"
        [currentCurency]="{ name: value, apr: percent }"
        (close)="showDropdown = false"
      ></app-currency-picker>
    </div>
  </div>
</div>
