<div class="period-picker">
  <div class="period-picker_list">
    <span
      [ngClass]="{ picked: period === currentPeriod }"
      (click)="changePeriod(period)"
      *ngFor="let period of periods"
      >{{ period }}</span
    >
  </div>
</div>
