.period-picker {
  &_list {
    flex-direction: column;
    display: flex;

    span {
      font-family: "roboto-light";
      letter-spacing: 0em;
      padding: 13px 24px;
      border-radius: 8px;
      line-height: 20px;
      font-weight: 700;
      text-align: left;
      font-size: 16px;
      cursor: pointer;
      span:hover,
      &.picked {
        font-family: "roboto-medium";
      }
    }

    span:hover {
      background-color: #f6f7fb;
    }
  }
}
