/* You can add global styles to this file, and also import other style files */
@import "src/app/styles/fonts.scss";

body {
  background: center center no-repeat url(./assets/images/main-bg.svg);
  justify-content: center;
  background-size: cover;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  margin: 0;
}

.textfield-primary {
  padding: 15px 47px 14px 0;
  background-color: #f4f5f6;
  font-family: "roboto-medium";
  display: inline-flex;
  color: #4a5653;
  font-size: 18px;
  margin: 12px 0;
  outline: none;
  border: none;
  width: 100%;

  &.invalided {
    box-shadow: red 0px 1px 0px 0px;
    input {
      color: #f50202;
    }
  }

  input {
    width: 86px;
    outline: none;
    border: none;
    background: none;
    font-family: "roboto-medium";
    color: #4a5653;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
  }

  .symbol {
    padding-left: 20px;
  }

  .text {
    padding: 0 22px;
    outline: none;
    border: none;
  }
}

.btn-primary {
  font-family: "roboto-medium";
  border: 2px solid #ffffff;
  justify-content: center;
  align-items: center;
  letter-spacing: 0em;
  border-radius: 7px;
  text-align: center;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  width: 321px;
  height: 48px;
}

.currency-picker,
.period-picker {
  box-shadow: 0px 0px 10px 0px #0000001a;
  background: #ffff;
  width: 547px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #def1ed;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  height: 35px;
  border-radius: 50px;
  background: #56c6ad;
}
